:root {
            --vogel-blue: rgb(33, 57, 130);
            --vogel-red: rgb(230,0,0);
            --row-color: rgb(240,240,255);
            --member-price: rgb(0,150,0);
            --back-color: white;
            --contract-color: #213982;
            --present-back-color: rgb(224, 227, 255);
            --highlight-color: rgb(255, 129, 129);
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            user-select: none;
        }
        body{
            background-color: var(--present-back-color);
            margin: 10px;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        a{
            text-decoration: none;
            color: black;
        }
        body::-webkit-scrollbar {
            display: none;
          }
        .twelve-col-grid{
            display: grid;
            grid-template-columns: minmax(100px, 1fr) repeat(11, 1fr);
            column-gap:5px;
            row-gap:5px;
            padding: 5px;
            margin-bottom: 5px;
            background-color: var(--back-color);
            border-radius: 10px;
            border: 2px solid black;
        }
        .vg-deleter{
            height:20px;
            width:20px;
        }
        .vg-deleter:hover{
            cursor: pointer;
        }
        /* for Mobile Phones */
        #wo-present-repair-cont {
            grid-column: 1 / span all;
            margin: 5px;
        }
        #wo-present-repair-cont::after{
            content: "*Rewards Membership Subscription fees to be charged to your credit card monthly. All benefits apply with continued Membership, including in home Membership Service next season!";
            font-size: .75em;
            margin-top: 5px;
            float: right;
        }
        #wo-setup-sys{
            grid-column: 1 / span all;
            grid-row:1;
        }
        #wo-setup-repair{
            grid-column: 1 / span all;
            grid-row:3;
        }
        #wo-setup-repair input{
            margin-bottom:5px;
        }
        #wo-present-contract-cont {
            padding:0px 0px 10px 10px;
            background-color: white;
            border: 2px solid var(--contract-color);
            border-right:0px;
        }

        .wo-sys {
            width:calc(100% - 20px);
            display: inline-grid;
            grid-template-columns: 20px repeat(3, 1fr);
            padding: 5px;
            margin: 5px;
            background-color: var(--back-color);
        }

        /* for Desktop */
        @media only screen and (min-width: 768px) {
            .wo-sys {grid-template-columns: 20px repeat(5, 1fr);}
        }
        .vg-utilcont-top-info{
            background-color: white;
            border: 2px solid black;
            border-top: 0px;
            border-radius: 0px 0px 10px 10px;
            display: flex;
            justify-content: space-evenly;
        }
        .wo-nav-icon{
            height:40px;
            width:40px;
            margin:10px 0px 10px 20px;
        }
        .wo-nav-icon:hover{
            cursor: pointer;
        }
        #vg-utilcont-bottom>.vg-utilcont-toggle{
            grid-column: -1 / 6;
            place-self: end end;
            font-size: 2.5em;
            font-weight: bold;
            margin: 10px;
            color: var(--vogel-blue);
          }
